/**
 * Author(s): James Morris
 * FOOTER
 * 
 * Site footer styles
 * 
 */

@import "base/_variables";

.page-footer {
	background: $color-grey-green;
	.wrapper {
		padding: 3em;
	}
}

.page-footer__message {
	text-align: center;
	font-size: $size-xl;
	margin: 0;
	margin-top: -79px;
}